.contact-section {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-section__details {
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;

    margin: 0 auto 2rem;
    padding: 0 0 2rem;

    background-color: var(--color-grey);
}

.contact-section__content {
    width: 100%;
}

.contact-section__content > .section-heading {
    margin: 4rem auto;
}

.contact-details {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-auto-rows: auto;

    align-items: center;

    width: fit-content;

    margin: 0 auto;

    text-align: left;
    font-size: 1rem;
}

.contact-row {
    display: contents;
}

.contact-row__icon {
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.2rem;

    border: 1px dotted var(--color-text);
    border-radius: 50%;

    font-size: 1.25rem;
}

.contact-row__value {
    margin: 0;
}

.contact-row__value a {
    color: inherit;
    text-decoration: none;
}

.contact-section__social {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    height: calc(100% - 4rem);

    padding: 0;
}

.contact-socials {
    display: flex;
    justify-content: center;

    gap: 1rem;

    margin: 0.2rem 4rem;
}

.contact-socials a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);

    font-size: 1.6rem;
}

.contact-credit {
    margin: 0 4rem;

    font-size: smaller;
}

@media screen and (max-width: 575.98px) {
    .contact-section {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: 90vw;
    }

    .contact-section__details {
        width: 90%;
    }

    .contact-section__social {
        width: 100%;

        margin: 8rem 0 0;

        align-items: flex-end;
    }

    .contact-socials {
        margin: 0.2rem 2rem;
    }

    .contact-credit {
        margin: 0 2rem;
    }
}