.button--primary {
    background: transparent;
    color: var(--color-on-surface);

    border: 0;
    border-bottom: 10px solid var(--color-secondary);
    padding: var(--space-sm) 12px 1.5px;

    box-shadow: 0 4px 3px -2px var(--color-secondary);

    font-weight: 700;
}

.button--primary:hover {
    background: var(--color-surface-container);
}