.button--primary {
    background: transparent;
    color: var(--color-on-surface);

    border: 0;
    border-bottom: 10px solid var(--color-secondary);
    padding: var(--space-sm) 12px 1.5px;

    box-shadow: var(--box-shadow);

    font-weight: 700;
}

.button--primary:hover {
    background: var(--color-surface-container);
}

.badge__media {
    width: 1rem;
    height: 1rem;

    object-fit: contain;
    flex-shrink: 0;

    filter: grayscale(100%);
}