.section-heading {
    position: relative;
    display: inline-block;
    width: fit-content;

    padding: 0 10px;

    z-index: 1;
}

.section-heading__highlight {
    position: absolute;

    left: 0;
    bottom: 25px;

    width: calc(100% - 3px);
    height: 35%;

    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);

    z-index: -1;
}